
body{
    background-color: rgb(80, 80, 80);
}


.navbar {
    
    margin-top: 10px;
    background-color: rgb(40, 40, 40);;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;       
    border-bottom-style: solid;
    border-bottom-color: rgb(50, 50, 50);
    border-bottom-width: 3px;
}

.navli {
    float: left;    
}

.nava {
    font-family: sans-serif;
    font-size: 90%;
    display: block;
    color: white;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    transition: all 400ms 0ms, z-index 0ms 0ms;
    
}

.nava:hover {
    background-color: rgb(150, 200, 150);
}

.title {
    text-align: center;
    color: palegreen;
    margin-top: 100px;
    font-size: 600%;
    font-family: sans-serif;
    background-color: rgb(100, 100, 100);
    padding:50px;
    margin-bottom:200px;
    
}

.container{
    left: 0px;  
    color: rgb(100, 200, 130);
    margin-top: 0px;
    margin-bottom:76px;
    background-color:rgb(40, 40, 40);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 40px;
    font-family: monospace;
    
}

.box1 {
    padding: 20px;
    width: 15%;
    height: auto;
    float:left;
    background-color: rgb(50, 50, 50);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.box1:hover{
    background-color: rgb(180, 180, 180);
    transition: all 1200ms 0ms, z-index 0ms 0ms;
}